<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/kasaraba_lab5?serverTimezone=UTC</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <mapping class="ua.lviv.iot.kasaraba.model.Application"/>
        <mapping class="ua.lviv.iot.kasaraba.model.Author"/>
        <mapping class="ua.lviv.iot.kasaraba.model.Feedback"/>
        <mapping class="ua.lviv.iot.kasaraba.model.Organization"/>
        <mapping class="ua.lviv.iot.kasaraba.model.Secured"/>
        <mapping class="ua.lviv.iot.kasaraba.model.SingleDeveloper"/>
        <mapping class="ua.lviv.iot.kasaraba.model.User"/>
        <mapping class="ua.lviv.iot.kasaraba.model.VersionUpdate"/>
        <mapping class="ua.lviv.iot.kasaraba.model.VirtualWallet"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>